button.input-button {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 10px rgba(0, 0, 0, 0.20);
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;

  &.btn-rounded {
    border-radius: 3.125rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  &.btn-link {
    box-shadow: none;
    &:hover {
      text-decoration: none;
      background: rgba(199, 199, 199, 0.5);
    }
    &:focus:active, &:focus {
      text-decoration: none;
      background: rgba(180, 180, 180, 0.5);
    }
  }

  &:not(:disabled):active:focus {
    box-shadow: none;
  }

  .spinner-border-md {
    width: 1.5rem;
    height: 1.5rem;
    border-width: 0.2em;
  }
}